@{
  Layout = "_Layout";
}

@model SweetSavory.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Taste)</h3>

@if (@Model.Treats.Count == 0)
{
  <h3>No Treats added yet.</h3>
}
@foreach (var join in Model.Treats)
{
  <h3>@Html.ActionLink(@join.Treat.Dish, "Details", "Treats", new { id = join.TreatId })</h3>
}

<h5>@Html.ActionLink("Add Treat to this Flavor", "Create", "Treats")</h5>
<h5>@Html.ActionLink("Back to Flavors list", "Index")</h5>
<h5>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</h5>
<h5>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</h5>